<div *ngIf="backendService.counter | async as c" class="timestamp">
  <span>Counter:</span>
  {{ c }}
</div>
<app-feed-card [contentState]="backendService.state">
  <div class="loading">
    Loading..
  </div>
  <div *ngIf="backendService.feed | async as feed" class="ready">
    <h1>Total dogs in this city: {{ feed.total }} </h1>
    <ul *ngFor="let person of feed.people">
      <li>
        <p>Name: {{ person.name }} </p>
        <p>How many dogs does this person have?: {{ person.dogs }} </p>
      </li>
    </ul>
  </div>
  <div class="error">
    <h1>Some error!</h1>
  </div>
</app-feed-card>
